.header {
  background-color: var(--gray-900);
  color: var(--primary);
  padding: 1rem;
  text-align: center;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

