.container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    height: 100vh;
    background-color: var(--primary);
    font-size: 3rem;
}

.button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--primary-light);
    color: var(--primary-contrast-dark);
    font-size: 2rem;
    cursor: pointer;
    font-weight: bolder;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    transform: scale(1.05);
}